*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.Background-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

button{
    padding: 12px 24px;
    width: 50px;
}