*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.Background-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkslateblue;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
    height: 10%;
    border-radius: 10px;
    color: #fff;
}

.btn-div{
    text-align: center;
}

button{
    padding: 12px 24px;
    cursor: pointer;
}